<!DOCTYPE html>
<html>
<head>
  <title>Delete Student</title>
  <meta charset="utf-8">
</head>
<body>
  <h1>Delete a Student by ID</h1>
  <form action="/students/delete" method="post" id="delete-student">
    <input type="text" name="student_id" placeholder="Enter the ID..." >
    <input type="submit" value="Delete">
  </form>
</body>
</html>