#wrapper {
  position: relative;
  width: 340px;
  height: 513px;
  margin: auto;
  padding: 10px;
}
#octopus {
  display: block;
  margin-top: 25px;
  margin: auto;
  position: absolute;
  top: 80px;
  left: 35px;
}
#hat {
  display: block;
  margin: auto;
  position: absolute;
}
#glasses {
  display: block;
  margin: auto;
  position: absolute;
  top: 180px;
  left: 76px;
}